h1 {
    font-family:  'Raleway',sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 2px; 
    text-align: center; 
    text-transform: uppercase;
    color: #ffffff;
}

p { color: #f8f8f8; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 600; line-height: 32px; margin: 0 0 10px; }